body {
    margin:0;
    background-color: black;
}
.header {
    background-color: black;
    height: 110px;
}

li {
    float: left;
}

.logo {
    width: 100px;
    height: 100px;
}

.heading {
    display: inline-block;
    font-family: 'Amaranth', sans-serif;
    font-size: 60px;
    color: azure;
    background-color: black;
    width:75%;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
}

.mainform {
    text-align: center;
    border-radius: 8px;
    width:400px;
    height:200px;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: darkgoldenrod;
}

.inst {
    font-family: 'Amaranth', sans-serif;
    font-size: 35px;
    margin: 20px;
}

.inputID {
    margin-top: 15px;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    padding-left: 7px;
    outline: none;
    background-color: black;
    color: beige;
}

.button {
    font-family: 'Spinnaker', sans-serif;
    color: beige;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    width: 60px;
    height: 20px;
    background-color: black;
    border-radius: 4px;
    outline: none;
}

.button:hover {
    border-style: solid;
    border-color: beige;
    border-width: 1px;
}

.loader {
    margin-left: 30%;
    margin-right: 30%;
    width: 40px;
    height: 40px;
}

.mainresult {
    text-align: center;
    border-radius: 8px;
    width:600px;
    height:500px;
    margin-left: 28%;
    margin-right: 30%;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: darkgoldenrod;
}

#result {
    text-align: center; 
    font-family: 'Amaranth', sans-serif;
    color: beige;

}

.avatar {
    margin-right: 280px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-top: 20px;
    border-style: groove; 
    border-color: black;
    border-width: 2px;
}

.username {
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    margin-left: 10%;
    font-size: 50px;
    color: black;
    margin-bottom: 0px;
}

.name {
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-size: 30px;   
    margin-left: 10%;
    color: black;
}